*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.timer-page{
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  font-size: 4rem;
}

.timer{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn{
  margin: 2rem;
  padding: 2rem;
  background-color: rgb(128, 199, 223);
  color: black;
  border-radius: 65%;
  font-size: 1.5rem;
  box-shadow: 3px 5px #888888;
  outline: none;
  transition: all 0.5s ease;
  cursor: pointer;
}

.btn:hover{
  transform: translateY(5px);
  box-shadow: 1px 1px #444;
}

.btn:focus{
  transform: translateY(5px);
  box-shadow: 1px 1px #444;
  border: solid 2px black;
}

.timer-input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    margin: 2.5rem auto 0;
    font-size: 2rem;
}

.timer-input:focus{
  border: solid 2px black;
}

.header{
  background-color: #203040;
  color: #FFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 0;
  z-index: 2;
}

.header a{
  color: #FFF;
  margin: 0 0.5rem;
  transition: all 0.5s ease;
  text-decoration: none;
  font-size: 1.5rem;
  transition: all 0.5s ease;
}

.header-links a:hover{
  color: #9c80c8;
}

.brand{
  display: flex;
  align-items: center;
  font-size: 1.25em;
  color: inherit;
  text-decoration: none;
}

.brand a{
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
}

.form-container{
  width: 85%;
  margin: 2rem auto;
  text-align: center;
  border: solid 1px black;
  box-shadow: 2px 4px black;
  padding: 1rem 0.5rem;
}

.form-container h1{
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1.5rem auto;
}

.form-container div p{
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.form form div{
  display: flex;
  flex-direction: column;
  margin: 1.5rem auto;
}

.form form div label{
  text-align: left;
  margin-left: 10%;
  font-size: larger;
}

/* Style inputs */
input, select {
  width: 80%;
  padding: 0.8rem 1.3rem;
  margin: 0.5rem auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style the submit button */
button[type=submit] {
  width: 80%;
  background-color: #203040;
  color: white;
  padding: 14px 20px;
  margin: 2rem 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Add a background color to the submit button on mouse-over */
button[type=submit]:hover {
  background-color: #315150;
}


/*Landing Page*/
.landing-header{
  background-color: #221231;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-grow: 1;
}

.header-content-container{
  display: flex;
  justify-content: space-around;
}

.landing-header-text{
  text-align: center;
  margin: 2rem 0;
  font-size: 2rem;
}

.header-content-left

.header-content-right{
  display: flex;
  flex-direction: column;   
  align-items: flex-start;
  margin: 1rem;
  align-self: center;
}

.header-img{
  background-image: "img/logo.png";
  flex-grow: 1;
  max-height: 70vh;
  min-width: 30vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.landing-content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2rem 0 0;
  padding: 2rem;
  background-color: #110121;

}

.landing-content h5{
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
}


.header-btn{
  color: white;
  background-color: #1762A7;
  padding: .75rem 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 0.9rem;
  transition: linear 0.2s all;
  outline: none;
  border: none;
  cursor: pointer;
}

.header-btn:hover{
  background-color: #2873B8;
}

.header-btn:focus{
  background-color: #3994C9;
}