*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.timer-page{
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  font-size: 4rem;
}

.timer{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn{
  margin: 2rem;
  padding: 2rem;
  background-color: rgb(128, 199, 223);
  color: black;
  border-radius: 65%;
  font-size: 1.5rem;
  box-shadow: 3px 5px #888888;
  outline: none;
  transition: all 0.5s ease;
  cursor: pointer;
}

.btn:hover{
  transform: translateY(5px);
  box-shadow: 1px 1px #444;
}

.btn:focus{
  transform: translateY(5px);
  box-shadow: 1px 1px #444;
  border: solid 2px black;
}

.timer-input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    margin: 2.5rem auto 0;
    font-size: 2rem;
}

.timer-input:focus{
  border: solid 2px black;
}

.header{
  background-color: #203040;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  z-index: 2;
}

.header a{
  color: #FFF;
  margin: 0 0.5rem;
  transition: all 0.5s ease;
  text-decoration: none;
  font-size: 1.5rem;
  transition: all 0.5s ease;
}

.header-links a:hover{
  color: #FF8000;
}

.brand a{
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
}