*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.timer-page{
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  font-size: 4rem;
}

.timer{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn{
  margin: 2rem;
  padding: 2rem;
  background-color: rgb(128, 199, 223);
  color: black;
  border-radius: 65%;
  font-size: 1.5rem;
  box-shadow: 3px 5px #888888;
  outline: none;
  transition: all 0.5s ease;
  cursor: pointer;
}

.btn:hover{
  transform: translateY(5px);
  box-shadow: 1px 1px #444;
}

.btn:focus{
  transform: translateY(5px);
  box-shadow: 1px 1px #444;
  border: solid 2px black;
}

.timer-input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    margin: 2.5rem auto 0;
    font-size: 2rem;
}

.timer-input:focus{
  border: solid 2px black;
}

.header{
  background-color: #203040;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  z-index: 2;
}

.header a{
  color: #FFF;
  margin: 0 0.5rem;
  transition: all 0.5s ease;
  text-decoration: none;
  font-size: 1.5rem;
  transition: all 0.5s ease;
}

.header-links a:hover{
  color: #FF8000;
}

.brand a{
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
}

.form-container{
  width: 85%;
  margin: 2rem auto;
  text-align: center;
  border: solid 1px black;
  box-shadow: 2px 4px black;
  padding: 1rem 0.5rem;
}

.form-container h1{
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1.5rem auto;
}

.form-container div p{
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

/* Style inputs */
input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style the submit button */
button[type=submit] {
  width: 100%;
  background-color: #203040;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Add a background color to the submit button on mouse-over */
button[type=submit]:hover {
  background-color: #315150;
}